extends layout

block content
	if posts
	each post, i in posts
		.post
			h1
				a(href='posts/show/#{post._id}')
					=post.title
			if user
				if user.role == "Admin"
					a.editButton(href='posts/edit/#{post._id}') Edit Post
			p.meta Posted in #{post.category} by #{post.author} on #{moment(post.date).format('MM-DD-YYYY')}
			img(src='/images/upload	s/#{post.mainimage}')
			!=truncateText(post.body, 400)
		a.more(href='/posts/show/#{post._id}') Read More
	else
		p.noposts There are no posts to display

